* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  background-color: rgb(16, 19, 47);
}

.user-card {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 300px;
  gap: 20px;
  min-width: 260px;
  max-width: 400px;
  margin: 10px;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
}

.user-avatar {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  padding: 1px;
  border-radius: 50%;
  box-shadow: 0 0 5px grey;
  object-fit: cover;
  object-position: top;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-name {
  margin: 0 0 5px 0;
  font-size: 17px;
  font-weight: normal;
}

.user-font {
  margin: 0;
  margin-bottom: 5px;
  font-size: 12px;
}

footer {
  margin-top: auto;
  padding-top: 10px;
}

.button-wrapper {
  padding: 5px 15px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: white;
  background-color: rgb(25, 91, 245);
  border-radius: 2px;
  box-shadow: 0 0 1px grey;
}

.button-wrapper:hover {
  background-color: rgb(12, 61, 184);
  cursor: pointer;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
  color: rgb(211, 106, 1);
}
