* {
  box-sizing: border-box;
}

body {
  padding: 15px;
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
}

.user-card {
  padding: 20px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 0 5px grey;
  border-radius: 15px;
  display: flex;
  flex-direction: row;

  flex-basis: 300px;
  flex-grow: 1;
  min-width: 260px;
  max-width: 400px;

  align-items: flex-start;
  gap: 40px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.user-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  padding: 1px;
  box-shadow: 0 0 5px grey;
  flex-shrink: 0;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}

.user-font {
  text-align: flex-start;
  margin: 2px;
  font-size: 12px;
}

.user-adress {
}

.button-wrapper {
  /* Why background color doen't work?! */
}
.social-links {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  font-size: 12px;
  color: rgb(211, 106, 1);
}

.social-link-item {
}
